---
title: 合作伙伴
---

<!Doctype html>
<html id="partners" class="gridPage">
{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="users">
	<main>
        <h1>ThingsBoard硬件合作伙伴</h1>
        <h5></h5>
		<h5>
			硬件合作伙伴计划的目标是减少基于ThingsBoard的解决方案的上市时间。
			我们与硬件合作伙伴一起，通过提供丰富的集成教程，典型用例和最佳实践，简化了最具挑战性的物联网项目的实施。
		</h5>
		<h3 id="hardware-partners"></h3>
		<div id="hardwareContainer"></div>
		<p align="center">
			<a class="button" href="/partners/hardware/program/">申请成为硬件合作伙伴</a>
		</p>
	</main>
</section>

{% include footer.html %}
{% include case-study-styles.html %}

<style>
	{% include partner-style.css %}
</style>

<script>
	{% include partner-script.js type="hardware"
        containerId="hardwareContainer" %}
</script>

</body>
</html>
